:root {
  /* customized css variables for theme */
  --dialog-bg: #c7c1fb;
  --dialog-button-bg: #fca6fc;
  --page-bg: #624b71;
  --button-bg: #c7c1fb;
  --button-color: #000000;
  --dialog-button-color: #000000;
  --dialog-button-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --button-box-shadow: -7px 7px 0px 3px #fb00ff;
  --dialog-box-shadow: -7px 7px 0px 3px #fb02ff;
  --button-padding: 10px;
  --button-border-style: dotted;
  --button-border-width: 2px;
  --button-border-radius: 10px;
  --button-text-decoration: none;
  --button-font-style: normal;
  --dialog-border-style: dotted;
  --button-focus-bg: #fea8ff;
  --button-focus-color: #121212;
  --dialog-button-focus-bg: #fb03ff;
  --dialog-button-focus-color: #ffffff;
  --dialog-button-font-size: 1rem;
}